{% sw_extends '@Storefront/storefront/element/cms-element-vimeo-video.html.twig' %}

{% block element_vimeo_video %}
    {% set rhwebAnimation = element.config.rhwebAnimation.value %}

    {% if rhwebAnimation %}
        {% if rhwebAnimation.in.active or rhwebAnimation.out.active or rhwebAnimation.hover.active %}
            <div data-rhweb-animation='{{ rhwebAnimation|json_encode|raw }}'>
                {{ parent() }}
            </div>
        {% else %}
            {{ parent() }}
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
