{# ThemeWare: CMS block "Five columns" #}

{% block block_twt_grid_five_column %}

    {% block block_twt_grid_five_column_col1 %}
        {% set element = block.slots.getSlot('col1') %}

        <div class="column-1 col-12 col-md-6 col-lg twt-column first">
            {% block block_twt_grid_five_column_col1_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_twt_grid_five_column_col2 %}
        {% set element = block.slots.getSlot('col2') %}

        <div class="column-2 col-12 col-md-6 col-lg twt-column">
            {% block block_twt_grid_five_column_col2_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_twt_grid_five_column_col3 %}
        {% set element = block.slots.getSlot('col3') %}

        <div class="column-3 col-12 col-md-6 col-lg twt-column">
            {% block block_twt_grid_five_column_col3_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_twt_grid_five_column_col4 %}
        {% set element = block.slots.getSlot('col4') %}

        <div class="column-4 col-12 col-md-6 col-lg twt-column">
            {% block block_twt_grid_five_column_col4_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_twt_grid_five_column_col5 %}
        {% set element = block.slots.getSlot('col5') %}

        <div class="column-5 col-12 col-md-6 col-lg twt-column last">
            {% block block_twt_grid_five_column_col5_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
