{# ThemeWare: CMS block "Two columns 5-7" #}

{% block block_twt_grid_two_column_5_7 %}

    {% block block_twt_grid_two_column_5_7_left %}
        {% set element = block.slots.getSlot('left') %}

        <div class="column-1 col-12 col-md-5 twt-column left first">
            {% block block_twt_grid_two_column_5_7_left_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_twt_grid_two_column_5_7_right %}
        {% set element = block.slots.getSlot('right') %}

        <div class="column-2 col-12 col-md-7 twt-column right last">
            {% block block_twt_grid_two_column_5_7_right_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
