{# ThemeWare: CMS block "Two columns swapped" #}

{% block block_twt_grid_two_column_swapped %}

    {% block block_twt_grid_two_column_swapped_left %}
        {% set element = block.slots.getSlot('left') %}

        <div class="column-1 col-12 col-md-6 order-2 order-md-1 twt-column left first">
            {% block block_twt_grid_two_column_swapped_left_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_twt_grid_two_column_swapped_right %}
        {% set element = block.slots.getSlot('right') %}

        <div class="column-2 col-12 col-md-6 order-1 order-md-2 twt-column right last">
            {% block block_twt_grid_two_column_swapped_right_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
