{# ThemeWare: CMS block "Text teaser decorated" #}

{% block block_twt_text_teaser_decorated %}
    {% set element = block.slots.getSlot('image') %}
    {#% set columns = 1 %#}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_twt_text_teaser_decorated_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}