{# ThemeWare: CMS block "Three columns 2-8-2" #}

{% block block_twt_grid_three_column_2_8_2 %}

    {% block block_twt_grid_three_column_2_8_2_left %}
        {% set element = block.slots.getSlot('left') %}

        <div class="column-1 col-12 col-lg-2 twt-column left first">
            {% block block_twt_grid_three_column_2_8_2_left_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_twt_grid_three_column_2_8_2_center %}
        {% set element = block.slots.getSlot('center') %}

        <div class="column-2 col-12 col-lg-8 twt-column center">
            {% block block_twt_grid_three_column_2_8_2_center_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_twt_grid_three_column_2_8_2_right %}
        {% set element = block.slots.getSlot('right') %}

        <div class="column-3 col-12 col-lg-2 twt-column right last">
            {% block block_twt_grid_three_column_2_8_2_right_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
