{# ThemeWare: Footer-Element "Communities" container #}
{#
	Create footer column and include communities widget (content)

    @Storefront/storefront/themeware/widgets/twt-communities.html.twig
#}

{# TODO: Blöcke prüfen... #}
{# TODO: Kommentare prüfen, ergänzen... #}
{# TODO: footer-elements zusammenfassen (sh. twt-sidebar-widgets) #}

{% block twt_layout_footer_communities %}
	{# ThemeWare: Add column classes #}
	{% if newcol == "2" %}
		{% set blockClasses = ['col-md-12'] %}
	{% elseif newcol == "3" %}
		{% set blockClasses = ['col-md-6'] %}
	{% else %}
		{# ThemeWare: Add column classes for tablet viewports #}
		{% if columns == columnsTablet %}
			{% set blockClasses = ['col-md-' ~ columns] %}
		{% else %}
			{% set blockClasses = ['col-xl-' ~ columns, 'col-md-' ~ columnsTablet] %}
		{% endif %}
	{% endif %}

	{# ThemeWare: Add default classes #}
	{% set blockClasses = ['footer-column', 'footer-column-communities']|merge(blockClasses) %}

	{# ThemeWare: Add toggle class #}
	{% if toggle != "4" %}
		{% set blockClasses = ['js-footer-column']|merge(blockClasses) %}
	{% endif %}

	{# ThemeWare: Add element class and element number #}
	{% set blockClasses = ['twt-element-' ~ elementid, 'twt-element-communities']|merge(blockClasses) %}

	{# ThemeWare: Permanently expanded #}
	{% if toggle == "4" %}
		{% set blockClasses = ['permanent']|merge(blockClasses) %}
	{% endif %}

	{# ThemeWare: Add class "last" to last element #}
	{% if last == true %}
		{% set blockClasses = ['last']|merge(blockClasses) %}
	{% endif %}

	{# TODO: add block "container" #}
	<div class="{{ blockClasses|reverse|join(' ') }}">
		{% block twt_layout_footer_communities_headline %}
			<div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger{% if toggle == "2" %} show{% endif %}"
				 id="collapseFooterCommunitiesTitle"
				 data-target="#collapseFooterCommunities"
				 aria-expanded="true"
				 aria-controls="collapseFooterCommunities"
				 role="listitem">
				{{ "twt.widget.communities.headline"|trans|sw_sanitize }}
				{% block twt_layout_footer_communities_icons %}
					{% if toggle != "4" %}
						<div class="footer-column-toggle">
							<span class="footer-plus-icon">
								{% sw_icon 'plus' %}
							</span>
							<span class="footer-minus-icon">
								{% sw_icon 'minus' %}
							</span>
						</div>
					{% endif %}
				{% endblock %}
			</div>
		{% endblock %}

		{% block twt_layout_footer_communities_content %}
			<div id="collapseFooterCommunities"
				 class="footer-column-content{% if toggle != "4" %} js-footer-column-content collapse{% endif %}{% if toggle == "2" %} show{% endif %}"
				 aria-labelledby="collapseFooterCommunitiesTitle">
				<div class="footer-column-content-inner">
					{% sw_include '@Storefront/storefront/themeware/widgets/twt-communities-include.html.twig' ignore missing %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}