{# ThemeWare: Footer-Element "Payment/Shipping" container #}
{#
	Create footer column and include payment/shipping widgets (content)

    @Storefront/storefront/themeware/widgets/twt-paymentshipping.html.twig
#}

{# TODO: Blöcke prüfen... #}
{# TODO: Kommentare prüfen, ergänzen... #}
{# TODO: footer-elements zusammenfassen (sh. twt-sidebar-widgets) #}

{% block twt_layout_footer_paymentshipping %}
	{# ThemeWare: Add column classes #}
	{% if newcol == "2" %}
		{% set blockClasses = ['col-md-12'] %}
	{% elseif newcol == "3" %}
		{% set blockClasses = ['col-md-6'] %}
	{% else %}
		{# ThemeWare: Add column classes for tablet viewports #}
		{% if columns == columnsTablet %}
			{% set blockClasses = ['col-md-' ~ columns] %}
		{% else %}
			{% set blockClasses = ['col-xl-' ~ columns, 'col-md-' ~ columnsTablet] %}
		{% endif %}
	{% endif %}

	{# ThemeWare: Add default classes #}
	{% set blockClasses = ['footer-column', 'footer-column-paymentshipping']|merge(blockClasses) %}

	{# ThemeWare: Add toggle class #}
	{% if toggle != "4" %}
		{% set blockClasses = ['js-footer-column']|merge(blockClasses) %}
	{% endif %}

	{# ThemeWare: Add element class and element number #}
	{% set blockClasses = ['twt-element-' ~ elementid, 'twt-element-paymentshipping']|merge(blockClasses) %}

	{# ThemeWare: Permanently expanded #}
	{% if toggle == "4" %}
		{% set blockClasses = ['permanent']|merge(blockClasses) %}
	{% endif %}

	{# ThemeWare: Add class "last" to last element #}
	{% if last == true %}
		{% set blockClasses = ['last']|merge(blockClasses) %}
	{% endif %}

	{# TODO: add block "container" #}
	<div class="{{ blockClasses|reverse|join(' ') }}">
		{% block twt_layout_footer_paymentshipping_headline %}
			<div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger{% if toggle == "2" %} show{% endif %}"
				 id="collapseFooterPaymentshippingTitle"
				 data-target="#collapseFooterPaymentshipping"
				 aria-expanded="true"
				 aria-controls="collapseFooterPaymentshipping"
				 role="listitem">
				{{ "twt.widget.paymentshipping.headline"|trans|sw_sanitize }}
				{% block twt_layout_footer_paymentshipping_logos %}
					{% if toggle != "4" %}
						<div class="footer-column-toggle">
							<span class="footer-plus-icon">
								{% sw_icon 'plus' %}
							</span>
							<span class="footer-minus-icon">
								{% sw_icon 'minus' %}
							</span>
						</div>
					{% endif %}
				{% endblock %}
			</div>
		{% endblock %}

		{% block twt_layout_footer_paymentshipping_content %}
			<div id="collapseFooterPaymentshipping"
				 class="footer-column-content{% if toggle != "4" %} js-footer-column-content collapse{% endif %}{% if toggle == "2" %} show{% endif %} footer-logos-column"
				 aria-labelledby="collapseFooterPaymentshippingTitle">
				<div class="footer-column-content-inner">
					{% sw_include '@Storefront/storefront/themeware/widgets/twt-paymentshipping-include.html.twig' ignore missing with {
						type: 'footer'
					} %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}