{# ThemeWare "Custom announcement" content #}

{# TODO: Blöcke prüfen... #}

{% block twt_custom_announcement_container %}
    <div>

        {% block twt_custom_announcement_content %}
            {{ "twt.extension.customAnnouncement.content"|trans|raw }}
        {% endblock %}

    </div>
{% endblock %}