{% set columns = 3 %}
{% set id = element.id %}

{% set element = block.slots.getSlot('one') %}
<div class="col-lg-3 col-md-6 {% if isInSidebar %} mb-3{% endif %}" data-cms-element-id="{{ id }}">
    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
</div>

{% set element = block.slots.getSlot('two') %}
<div class="col-lg-3 col-md-6 {% if isInSidebar %} mb-3{% endif %}" data-cms-element-id="{{ id }}">
    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
</div>

{% set element = block.slots.getSlot('three') %}
<div class="col-lg-3 col-md-6 {% if isInSidebar %} mb-3{% endif %}" data-cms-element-id="{{ id }}">
    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
</div>

{% set element = block.slots.getSlot('four') %}
<div class="col-lg-3 col-md-6" data-cms-element-id="{{ id }}">
    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
</div>

