{% block cms_block_rhweb_columns %}
    <div class="col">
        <div class="cms-block-rhweb-columns {{ block.type }}">
            {% for letter in 'a'..'z' %}
                {% set element = block.slots.getSlot("slot-#{letter}") %}
                {% if element %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
