{% sw_extends "@Storefront/storefront/component/buy-widget/buy-widget.html.twig" %}

{# Show configuration and reset button on master product #}
{% block buy_widget_configurator_include %}
    {% if configuratorSettings|length > 0 %}
        <div class="product-detail-configurator-container">
            {% sw_include '@Storefront/storefront/component/buy-widget/configurator.html.twig' %}
        </div>
        <div class="emcgn-no-variant-preselection-reset">
            <a href="{% if page.product.extensions.EmcgnNoVariantPreselection.resetUrl %}{{ page.product.extensions.EmcgnNoVariantPreselection.resetUrl }}{% else %}#{% endif %}">
                <button class="btn btn-outline-secondary" {% if page.product.extensions.EmcgnNoVariantPreselection.masterProduct %}disabled{% endif %}>{{ 'emcgn.noVariantPreselection.product-detail.resetSelection'|trans }}</button>
            </a>
        </div>
    {% endif %}
{% endblock %}

{# Remove rich snippet price range for master product #}
{% block buy_widget_data_rich_snippet_price_range %}
    {% if not element.data.extensions.EmcgnNoVariantPreselection.masterProduct %}
        {{ parent() }}
    {% endif %}
{% endblock %}
