{# ThemeWare "Custom text" widget #}
{#
"Custom text" widget and content

@Storefront/storefront/themeware/widgets/twt-text-include.html.twig
#}

{# TODO: Blöcke prüfen... #}

{% block twt_widget_text %}
    <div class="twt-widget-text twt-text">

        {% block twt_widget_text_content %}
            {{ "twt.widget.text.content"|trans|raw }}
        {% endblock %}

    </div>
{% endblock %}