{% sw_extends "@Storefront/storefront/layout/header/search-suggest.html.twig" %}

{# Set price for master product in search suggest list #}
{% block layout_search_suggest_result_price %}
    {% if product.extensions.EmcgnNoVariantPreselection.masterProduct %}
        <div class="col-auto search-suggest-product-price">
            {% set cheapest = product.calculatedCheapestPrice.unitPrice %}
            {% set highest = product.extensions.EmcgnNoVariantPreselection.highestUnitPrice %}

            {% if cheapest < highest %}{{ "listing.listingTextFrom"|trans|sw_sanitize }}{% endif %} {{ cheapest|currency }}{{ "general.star"|trans|sw_sanitize }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
