{# ThemeWare "Social icons" @Platform #}
{#
    @Storefront/storefront/themeware/twt-social-icons.html.twig
#}

{# TODO: Blöcke prüfen... #}

<span class="icon icon-{{ icon }} icon-{{ style }}">
    {{ source('@TcinnThemeWareElectric/../app/storefront/dist/assets/social-icons/'~ style ~'/twt-icon-'~ icon ~'-'~ style ~'.svg', ignore_missing = true) }}
</span>