{# ThemeWare "Custom icons" @Platform #}
{#
    @Storefront/storefront/themeware/twt-custom-icons.html.twig
#}

{# TODO: Blöcke prüfen... #}

<span class="icon icon-{{ icon }} icon-solid">
    {{ source('@TcinnThemeWareElectric/../app/storefront/src/assets/custom-icons/twt-icon-'~ icon ~'.svg', ignore_missing = true) }}
</span>